@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Notes.Domain.Enums
@using Notes.Domain.Models
@model IEnumerable<UserViewModel>

<!DOCTYPE html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Пользователи";
}

@section Styles{
    <link href="~/css/UsersStyles.css" rel="stylesheet"/>
}

<div class="users-container">
    <div class="user">
        <div class="user-name">Пользователь</div>
        <div class="notes-amount">Заметок</div>
    </div>
    <hr/>
    @foreach (var user in Model.OrderBy(x => x.UserName))
    {
        <div class="user">
            <div class="user-name">@user.UserName</div>
            <div class="notes-amount">@user.NotesAmount</div>
            <div class="user-role">
                @if (user.UserName != "admin" && User.Identity.Name != user.UserName)
                {
                    <form method="post" asp-action="ChangeUserRole">
                        <input type="hidden" id="userId" name="userId" value="@user.UserId"/>
                        <select id="role" name="role">
                            @foreach (var role in Enum.GetNames(typeof(Role)))
                            {
                                if (role == user.Role.ToString())
                                {
                                    <option selected>@role</option>
                                }
                                else
                                {
                                    <option>@role</option>
                                }
                            }
                        </select>
                        <input type="submit" value="Сменить роль">
                    </form>
                }
            </div>
        </div>
    }
    <form method="post" asp-action="SaveUsersToXlsx">
        <input type="text" id="fileName" name="fileName" placeholder="Введите имя файла"/>
        <input type="submit" value="Сохранить в файл .xlsx"/>
    </form>
</div>