@using Notes.Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model  Note
<div class="note-card">
    <div class="note-card-header">
        <div class="note-card-header-image">
            @{
                var base64 = "";
                if (Model.Identicon != null)
                {
                    base64 = Convert.ToBase64String(Model.Identicon);
                }
                var imgSrc = string.Format($"data:image/svg+xml;base64,{base64}");
            }
            <object type="image/svg+xml" data="@imgSrc"></object>
        </div>
        <h2 class="note-card-header-title">
            @Model.Title
        </h2>
    </div>
    <hr class="note-card-devider"/>
    <div class="note-card-text">
        @if (Model.Text.Length > 300)
        {
            @Model.Text.Substring(0, 300).Insert(300, "...")
        }
        else
        {
            @Model.Text
        }
    </div>
    <hr class="note-card-devider"/>
    <div class="note-card-footer">
        <a class="note-card-footer-button" asp-action="UpdateNote" asp-route-id="@Model.Id" asp-controller="Notes">
            <img class="note-card-footer-button-image" src="~/images/change.svg"/>
        </a>
        <a class="note-card-footer-button" asp-action="ShowNote" asp-route-id="@Model.Id" asp-controller="Notes">
            <img class="note-card-footer-button-image" src="~/images/look.svg"/>
        </a>
        <a class="note-card-footer-button" asp-action="DeleteNote" asp-route-id="@Model.Id" asp-controller="Notes">
            <img class="note-card-footer-button-image" src="~/images/delete.svg"/>
        </a>
    </div>
</div>